<form class="" action="/project" method="post">
  <label for="name">Project Name</label>
  <input type="text" name="title" class="form-control">
  <button type="submit" name="button">Add project</button>
</form>
<a href="/">Return to home</a>
